*{
    
    font-family: cursive;
    /* font-family: 'Courier New', Courier, monospace; */
    text-transform: capitalize;
    
    
}


.popup{

/* border: 2px solid black; */
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: scale(0.001);
}
.popup p {
    padding-left: 50px;
}
.popup_imp{

    transform: scale(1);
    background-color: #fff;
}

#chk:checked ~ .login{
    background: linear-gradient(115deg, #f1a7f1, #fad0c4);
    background: linear-gradient(115deg, #fdfcfb, #e2d1c3);
   
}
::placeholder{

    color: rgb(152, 93, 247);
    font-size: 1em;
}
.login{
    
    height: 460px;
    background: #eee;
    border-radius: 50%  / 10% ; 
    transform: translateY(-665px);
    transition: 1s ease-in-out;
    text-align: center;
   
    
}


body{

    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: cursive;
    background-image: url(photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}

.main{

    width: 350px;
    height: 500px;
   background-image: url(photo.jpg);
   background-size: cover;
   background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px black;
}
#chk{
    display: none;
}
.signup{
    
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-500px);
    
}

label{

    color: #6d44b8;
    font-size: 2.3em;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 60%;
    height: 20px;
    background: rgba(61, 59, 59 , 1);
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    
}
input:hover{
    
    transform: scale(1.1);
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 5px black;
    /* background-color: rgb(191, 224, 213); */
    transition: 0.4s ;
}
button:hover{
    
    transform: scale(1.1);
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 7px black;
    
}

button{
    
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in-out ; 
    cursor: pointer;
}

button:hover{
    
    background: #6d44b8;
}

#price {
    
    width: 80%;
    height: 250px; 
    background: rgb(247,127,0);
    
    background: linear-gradient(90deg, rgba(247,127,0,1) 0%, rgba(252,191,73,1) 35%, rgba(234,226,183,1) 100%);
    background-image: url(photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40px;
    bottom: 3px;
    border-radius: 100px 0px;
    color:black ; 
    border: 2px solid black;
}
.login label{
    
    color: #6d44b8;
    transform: scale(.6);
    
}
#chk:checked ~ .login{
    
    transform: translateY(-980px);
    
}
#chk:checked ~ .login label{
    
    transform: scale(1);
    
}
#chk:checked~ .signup label{
    
    transform: scale(.6);
    
}

#chk:checked ~ .signup label{
    
    margin-top: 19px;
    margin-left: 83px;
}

label:hover{
    
    transform: scale(1.1);
    transition: .3s ease-in-out;
    
    
}
#about:hover{
    
    transform: scale(.8);
    transition: .3s ease-in-out;
}



@media (width <= 500px) {
    
    input {
        
        font-size: 1.3em;
    }
   #price{
       
       font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}


#chk:checked ~ .login{

    background: linear-gradient(115deg, #f1a7f1, #fad0c4);
    
}
#about{
    
    padding-top: 10px;
    text-align: right;
}
::placeholder{
    color:  rgb(226, 251, 255);
}
button{
    font-size: 23px;
}
}

.signup_chg{

    transform: scale(0);
}
.login_chg{

    transform: scale(0);
}
